# Exe
*.exe

#Linux executables
Elodie-debug
Elodie-release

# Compiled Object files
obj/*
*.slo
*.lo
*.o

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Compiled Static libraries
# *.lai
# *.la
# *.a

# Local stuff
*.depend
*.layout
*.db
*.cscope_file_list
*.blend1
*.blend2
screenshots/*

# Game
save
